
/* Imports the poppins font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@,300;400;500;600,700;800;&display=swap');

:root{
    --main-color:#00eeff;
    --text-color:#ffffff;
    --bg-color-01:#1f242d;
    --bg-color-02:#323946;
    --color-00:#0000001a;

    /* Extra */
    --color-01:#999999;
    --color-02:#009539;
    --color-03:#7950f2;
    --color-04:#c00000;
    --color-05:#232323;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: solid 1px var(--bg-color-02); 
}


.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav a{
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
    border: solid 1px var(--bg-color-02); 
}

.nav a:hover {
    color: var(--main-color);
}

section {
    min-height: 5vh;
    padding: 3rem 2rem 2rem;    
    border: solid 1px var(--bg-color-02); 
    
}

span {
    color: var(--main-color);
}

.inicio, .final{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.div-gojo{
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-image: linear-gradient(to right, red, blue);
}

.sobre-img{
    display: inline-block;
    padding: 5px;
    border-radius: 10px;    
    background-image: linear-gradient(red, red)
}

.inicio-img img, .sobre-img img{
 display: block;
 width: 45vh;
 height: auto;
 border-radius: 8px;
}

.sobre {
    background-color: var(--bg-color-02);
}

.inicio-content, .sobre-content {
    width: 45%;
}

.inicio-content h1, .sobre-content h1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.6rem;
}

.inicio-content h3, .sobre-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.inicio-content p, .sobre-content p {
    margin-top: 1.2rem;
    text-align: justify;
}

.contato h2,
.poderes h2,
.historia h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.historia-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.poderes-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}

.poderes-container .poderes-box {
    padding: 2rem, 1 rem, 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
}

.poderes-container .poderes-box:hover {
    border-color: var(--main-color);
    transform: scale(1.01);
}

.poderes-box{
    font-size:1.3rem ;
    color: var(--main-color);
}

.poderes-box h3{
    font-size: 1.5rem;
}

.poderes-box p{
    margin: 0.1rem;
    letter-spacing: 0.1rem;
}

.poderes-container{
    display: grid;
    gap: 1.2rem;
}

.poderes-img{
   width: 100%;
   transition: 0.5s ease;
}

.fim{
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;
}

.input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box input, .fim textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--bg-color-02);
    border-radius: 0.5rem;
    margin: 0.4rem 0;
}

.fim textarea{
    resize: none;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}


/* --- button --- */
.btn{
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn :hover{
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}
/* --- /button --- */
